* {
  box-sizing: border-box;
  font-family: sans-serif;
}

#header {
  text-align: center;
}

#content {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

canvas {
  border: 1px solid;
  margin: 1em 0;
}

input[type='button'] {
  width: 80px;
}

#inputs {
  grid-area: inputs;
}

#btn-group {
  grid-area: btn-group;
  display: flex;
  justify-content: space-between;
}

#settings {
  display: grid;
  grid-template-areas: 'inputs btn-group';
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
}
