* {
  box-sizing: border-box;
  font-family: sans-serif;
}

#header {
  text-align: center;
}

#content {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

canvas {
  border: 1px solid;
  margin: 1em 0;
}

input[type='button'] {
  width: 80px;
}

#btn-group {
  display: flex;
  width: 512px;
  justify-content: space-between;
}
