* {
  box-sizing: border-box;
  font-family: sans-serif;
}

#header {
  text-align: center;
}

#content {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

canvas {
  border: 1px solid;
  margin: 1em 0;
  width: 512px;
  height: 512px;
}

.label-slider {
  display: flex;
  align-items: center;
}

.label-slider label {
  font-size: 14px;
  text-align: center;
  vertical-align: auto;
  width: 70px;
  margin: 0 0.5em;
}

#settings {
  display: flex;
  grid-template-areas: 'inputs btn-group';
  align-items: center;
  width: 512px;
  justify-content: space-between;
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

/* button  */
input[type='button'] {
  width: 80px;
}

#btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
